{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    {% block pdf %}{% endblock %}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Comisiones {% if inicio %}del {{inicio}}{% endif %}{% if fin %} - {{ fin }}{% endif %}  </caption>
                <thead>
                  <tr>
                      <th>Empleado</th>
                      <th>Comisiones</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">               
                        <td>{{ row.empleado }}</td>
                        <td>{{ row.comision }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfooter>
                </tfooter>
            </table>
    </div>
{% endblock %}
