{% extends 'base.html' %}

{% block title %}Deducciones{% endblock %}
{% block content %}
{% if deducciones %}
<h1>Tabla deducciones y percepciones </h1>
    <ul>
    <li>neto: {{ empleado.sueldo }}</li>
    <li>final: {{ final }}</li>
    <h2>Deducciones</h2>
    {% for deduccion in deducciones %}
        {% if deduccion.porcentaje %} <li>porcentaje: {{ deduccion.porcentaje }}</li> {% endif %}
        {% if deduccion.monto %} <li>monto: {{ deduccion.monto }}</li> {% endif %}
    {% endfor %}
    <h2>Percepciones</h2>
    {% for percepcion in percepciones %}
        {% if percepcion.porcentaje %} <li>porcentaje: {{ percepcion.porcentaje }}</li> {% endif %}
        {% if percepcion.monto %} <li>monto: {{ percepcion.monto }}</li> {% endif %}
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
