{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    {% block pdf %}{% endblock %}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Horas Extras {% if inicio %}del {{inicio}}{% endif %}{% if fin %} - {{ fin }}{% endif %}  </caption>
                <thead>
                  <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Horas</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">               
                        <td><a href="/admin/nomina/empleado/{{ row.codigo}}">{{ row.codigo }}</a></td>
                        <td>{{ row.nombre }}</td>
                        <td>{{ row.apellido }}</td>
                        <td>{{ row.total_horas}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfooter>
                </tfooter>
            </table>
    </div>
{% endblock %}
