{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Planilla - INSS {% if inicio %}del {{inicio}}{% endif %}{% if fin %} - {{ fin }}{% endif %} </caption>
                <thead>
                  <tr>  
                      <th>Codigo</th>
                      <th>Nombre Completo</th>
                      <th>Sueldo Mensual Neto</th>
                      <th>Percepciones</th>
                      <th>Horas Extras</th>
                      <th>Valor Antiguedad</th>
                      <th>Devengado</th>
                      <th>Aporte Laboral</th>
                      <th>Aporte Patronal</th>
                      <th>Aporte Total</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/nomina/empleado/{{ row.id }}'>{{ row.codigoempleado }}</a></td>
                        <td>{{ row.nombrecompleto }}</td>
                        <td>{{ row.sueldo }}</td>
                        <td>{{ row.pmonto }}</td>
                        <td>{% if row.horas.monto__sum %}{{ row.horas.monto__sum }}{% else %}0{% endif %}</td>
                        <td>{{ row.valor }}</td>
                        <td>{{ row.devengo }}</td>
                        <td>{{ row.laboral }}</td>
                        <td>{{ row.patronal }}</td>
                        <td>{{ row.aporte }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfooter>
                    {% for t in totales%}
                    <th></th>
                    <th>Totales</th>
                    <th></th>
                    <th>{{ t.quincenales }}</th>
                    <th></th>
                    <th>{{ t.antiguedades}}</th>
                    <th>{{ t.laboral }}</th>
                    <th>{{ t.patronal}}</th>
                    <th>{{ t.aporte }}</th>
                    {% endfor %}
                </tfooter>
            </table>
    </div>
{% endblock %}
