{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    {% block pdf %}{% endblock %}
    <input type="submit" value="XLS" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Empleados   </caption>
                <thead>
                  <tr>
                      <th>Codigo</th>
                      <th>Nombre Completo</th>
                      <th>Total Acumulado</th>
                      <th>Retenido en el mes</th>
                      <th>Total IR Retenido</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/nomina/empleado/{{ row.id }}'>{{ row.codigoempleado }}</a></td>
                        <td>{{ row.nombrecompleto }}</td>
                        <td>{{ row.acumulado }}</td>
                        <td>{{ row.irmes }}</td>
                        <td>{{ row.ir }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfooter>
                    <th></th>
                    <th>Totales:</th>
                    <th>{{ ta }}</th>
                    <th>{{ tm }}</th>
                    <th>{{ td }}</th>
                </tfooter>
            </table>
    </div>
{% endblock %}
