{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="XLS" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Planilla - Departamento {{ departamento }} {% if inicio %}del {{inicio}}{% endif %}{% if fin %} - {{ fin }}{% endif %} </caption>
                <thead>
                  <tr>  
                      <th>Cod.</th>
                      <th>Nombre Completo</th>
                      <th>Sueldo<br />Mensual</th>
                      <th>Sueldo<br />Quincenal</th>
                      <th>% Antig.</th>
                      <th>Valor Antig.</th-->
                      <th>HE</th>
                      <th>Otros</th>
                      <th>Total<br />Devengos</th>
                      <th>INSS</th>
                      <th>IR</th>
                      <th>Prestamo<br /></th>
                      <th>Otros<br />Descuento</th>
                      <th>Total<br />Descuentos</th>
                      <th>Liquido</th>
                      <th>Saldo</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/nomina/empleado/{{ row.id }}'>{{ row.codigoempleado }}</a></td>
                        <td>{{ row.nombrecompleto }}</td>
                        <td>{{ row.sueldo }}</td>
                        <td>{{ row.quincenal }}</td>
                        <td>{{ row.antiguedad }} %</td>
                        <td>{{ row.valor }}</td>
                        <td>{% if row.horas.monto__sum %}{{ row.horas.monto__sum }}{% else %}0{% endif %}</td>
                        <td>{{ row.pmonto }}</td>
                        <td>{{ row.devengo }}</td>
                        <td>{{ row.inss }}</td>
                        <td>{{ row.ir }}</td>
                        <td>{{ row.prestamo }}</td>
                        <td>{{ row.dmonto }}</td>
                        <td>{{ row.descuento }}</td>
                        <td>{{ row.liquido }}</td>
                        <td>{{ row.saldo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfooter>
                    {% for t in totales%}
                    <th></th>
                    <th>Totales</th>
                    <th></th>
                    <th>{{ t.quincenales }}</th>
                    <th>{{ t.antiguedades}}</th>
                    <th></th>
                    <th></th>
                    <th>{{ t.percepciones }}</th>
                    <th>{{ t.devengos }}</th>
                    <th>{{ t.inss }}</th>
                    <th>{{ t.irs }}</th>
                    <th>{{ t.prestamos }}</th>
                    <th>{{ t.deducciones }}</th>
                    <th>{{ t.descuentos }}</th>
                    <th>{{ t.liquidos }}</th>
                    <th></th>
                    {% endfor %}
                </tfooter>
            </table>
    </div>
{% endblock %}
