{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Empleados   </caption>
                <thead>
                  <tr>
                      <th>Codigo</th>
                      <th>Nombre Completo</th>
                      <th>Cargo</th>
                      <th>Sueldo</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/nomina/empleado/{{ row.id }}'>{{ row.codigoempleado }}</a></td>
                        <td>{{ row.nombrecompleto }}</td>
                        <td>{{ row.cargo }}</td>
                        <td>{{ row.sueldo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
