{% extends 'admin/change_form.html' %}

{% block blockbots %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript">
$(function(){
	$("#code_cliente").change(function(e){ filtrar();});
});
function get_name(input,tipo){
	var id=input.parentNode.getElementsByTagName('input')[0];
	var name=input.parentNode.getElementsByTagName('input')[2];
	var code=input.parentNode.getElementsByTagName('input')[1];
	code.value = '';
	name.value = '';

	if (tipo=="id"){
		var url='/api/cliente/?format=json&id=' + id.value ;
	} else {
		var url='/api/cliente/?format=json&code=' + code.value ;
	}

	$.getJSON(url,function(data){
		if ( data['meta']['total_count'] >= 0){
			if (tipo == "id"){
				code.value = data['objects'][0]['code'];
			} else {
				id.value = data['objects'][0]['id'];
			}

			name.value = data['objects'][0]['name'];

		}else{
			name.value = 'No disponible';
		}
	});
}
function filtrar(){
	var url = '/api/cliente/?format=json&code=' + document.getElementById("code_cliente").value;
    $.getJSON(url,function(data){
        var url = '/api/cliente/?format=json&code=' + document.getElementById("code_cliente").value;
    }); 
};
</script>
<script type="text/javascript" src="/media/js/RelatedObjectLookups.js"></script>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<li><a href="{% url facturacion:imprimirrequerimiento %}?send={{ original.pk }}">Imprimir Requerimiento</a></li>
{% endblock %}
