{% extends 'reportes/base_report.html' %}
{%load porcentaje%}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  Casa de Cambio   </caption>
                <thead>
                  <tr>
                      <th rowspan="2" style="text-align: center">Codigo Cuenta</th>
                      <th rowspan="2"  style="text-align: center">Descripcion</th>
                      <th colspan="3"  style="text-align: center">{{ mes1 }}  </th>
                      <th colspan="3"  style="text-align: center">{{ mes2 }}  </th>

                  </tr>
                  <tr>
                      <th>Nivel III</th>
                      <th>Nivel II</th>
                      <th>Nivel I</th>
                      <th>Nivel III</th>
                      <th>Nivel II</th>
                      <th>Nivel I</th>

                  </tr>
                </thead>
                <tbody>

                {%regroup data  by clasificacion as lst_class%}
                
                {%for c in lst_class%}                
                        <tr class='row1'>                        
                            <td colspan = 8 style ="font-weight:bold;">{{ c.grouper }}</td>
                        </tr>

                
                {% for row in c.list %}
                    <tr class="row2">
                        <td>{{ row.codigo_cuenta }}</td>
                        <td>{{ row.nombre }}</td>

                        {%if row.level > 2 %}
                            <td class = "numeric">{{ row.mes1|decimal_format }}</td>
                            <td></td>
                            <td></td>
                            <td  class = "numeric">{{ row.mes2|decimal_format }}</td>
                            <td></td>
                            <td></td>
                        {%endif%}
                        {%if row.level == 2 %}

                            <td></td>
                            <td  class = "numeric">{{ row.mes1|decimal_format }}</td>
                            <td></td>
                            <td></td>
                            <td  class = "numeric">{{ row.mes2|decimal_format }}</td>
                            <td></td>
                        {%endif%}
                        {%if row.level == 1 %}
                            <td></td>
                            <td></td>
                            <td  class = "numeric">{{ row.mes1|decimal_format }}</td>

                            <td></td>
                            <td></td>
                            <td  class = "numeric">{{ row.mes2|decimal_format }}</td>
                        {%endif%}
                    </tr>
                {% endfor %}
                <tr class='row1'  style ="font-weight:bold;">                        
                    <td >TOTAL {{ c.grouper }}</td>
                        
                        <td></td>
                        <td></td>
                        <td></td>
                        <td  class = "numeric">{{ c.list|level_sum:'mes1'|decimal_format }}</td>
                        <td></td>
                        <td></td>
                        <td  class = "numeric">{{ c.list|level_sum:'mes2'|decimal_format }}</td>                                                                    
                </tr>                                        
                <tr class="row2">
                <td colspan = 8 >-------------------------------------------</td>
                
                {% endfor %}                

                </tbody>

            </table>

    </div>
{% endblock %}
