{% extends 'reportes/base_report.html' %}
{% load porcentaje %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  Reporte   </caption>
                <thead>
                  <tr>
                      <th>C&oacute;digo</th>
                      <th>Cuenta Contable</th>
                      <th>Saldo Anterior</th>
                      <th>Debe</th>
                      <th>Haber</th>
                      <th>Saldo del Mes</th>
                      
                      <th>Saldo al {{data|get_final_date}}</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                
                        <tr class="{% cycle 'row1' 'row2' %}">
	                        <td>{%if row.codigo%}{{ row.codigo }}{%else%}{{row.codigo_cuenta}}{%endif%}</td>
	                        <td>{{ row.nombre }}</td>
	                        <td style="text-align:right;">{{ row.saldo_anterior|decimal_format }}</td>
	                        <td style="text-align:right;">{{ row.debe|decimal_format }}</td>
	                        <td style="text-align:right;">{{ row.haber|decimal_format }}</td>
	                        <td style="text-align:right;">{{ row.saldo|decimal_format }}</td>
	                        <td style="text-align:right;">{{ row.acumulado|decimal_format }}</td>
                        </tr>
                   
                {% endfor %}
                <tr style = 'background:url("../img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7; color:white; font-weight:bold; text-align: right;'>
                            
                            <td colspan=2>Totales </td>
                            <td style="text-align:right;">{{ totales.saldo_anterior|decimal_format }}</td>
                            <td style="text-align:right;">{{ totales.debe|decimal_format }}</td>
                            <td style="text-align:right;">{{ totales.haber|decimal_format }}</td>
                            <td style="text-align:right;">{{ totales.saldo|decimal_format }}</td>
                            <td style="text-align:right;">{{ totales.acumulado|decimal_format }}</td>                    
                </tr>
                </tbody>

            </table>

    </div>
{% endblock %}
