{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption> Catalogo de Cuentas </caption>
                <thead>
                  <tr>
                      <th>Codigo Cuenta</th>
                      <th>Descripcion</th>
                      <th>Permite Posteo</th>
                      <th>Tipo</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.codigo_cuenta }}</td>
                        <td>{{ row.nombre }}</td>
                        <td>{{ row.permite_posteo }}</td>
                        <td>{{ row.tipo_cuenta }}</td>
                        </tr>
                {% endfor %}

                </tbody>

            </table>

    </div>
{% endblock %}
