{% extends 'reportes/base_report.html' %}
{% load porcentaje %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  Estado de Resultado   </caption>
                <thead>
                  <tr>
                      <th>Concepto</th>
                      <th>{{ mes1 }}  </th>
                      <th> %  </th>
                      <th>{{ mes2 }}  </th>
                      <th> %  </th>
                      <th>Acumulado al {{data|get_final_date}}</th>
                      <th> %  </th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                        <tr class="{% cycle 'row1' 'row2' %}">
	                        <td>{{ row.concepto }}</td>
	                        <td>{{ row.mes1 }}</td>
	                        <td>{{ row.porcentaje_mes1 }}</td>
	                        <td>{{ row.mes2 }}</td>
	                        <td>{{ row.porcentaje_mes2 }}</td>
	                        <td>{{ row.acumulado }}</td>
	                        <td>{{ row.porcentaje_acumulado }}</td>
                        </tr>                   
                {% endfor %}

                </tbody>

            </table>

    </div>
{% endblock %}
