{% extends 'reportes/base_report.html' %}
{%load porcentaje%}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption> Reporte </caption>
                <thead>
                  <tr>
                      <th>Codigo</th>
                      <th>Nombre</th>
                      <th>{{ mes1 }}  </th>
                      <th>{{ mes2 }}  </th>
                      <th> Variacion Mensual  </th>
                      <th>Saldo al {{data|get_final_date}}</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                        <tr class="{% cycle 'row1' 'row2' %}">
	                        <td>{{ row.codigo }}</td>
	                        <td>{{ row.nombre }}</td>
	                        <td>{{ row.mes1|decimal_format }}</td>
	                        <td>{{ row.mes2|decimal_format }}</td>
	                        <td>{{ row.variacion|decimal_format }}</td>
	                        <td>{{ row.acumulado|decimal_format }}</td>
                        </tr>                   
                {% endfor %}

                </tbody>

            </table>

    </div>
{% endblock %}
