{% extends 'reportes/base_report.html' %}
{%load porcentaje%}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  Diario General  </caption>
                <thead>
                  <tr>
                      <th>Comprobante</th>
                      <th>Tipo</th>
                      <th>Fecha</th>
                      <th>Concepto</th>
                      <th>Cargo</th>
                      <th>Abono</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.comprobante }}</td>
                        <td>{{ row.tipo_partida }}</td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.concepto }}</td>
                        <td>{{ row.cargo|decimal_format  }}</td>
                        <td>{{ row.abono|decimal_format  }}</td>
                        
                        </tr>
                {% endfor %}

                </tbody>

            </table>

    </div>
{% endblock %}
