{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  Reporte   </caption>
                <thead>
                  <tr>
                      <th>Cuenta</th>
                      <th>Cuenta Contable</th>
                      <th>Dia</th>
                      <th>Saldo Anterior</th>
                      <th>Debe</th>
                      <th>Haber</th>
                      <th>Saldo del Mes</th>
                      <th>Saldo a la Fecha</th>
                  </tr>
                </thead>
                <tbody>

                {% for row in data %}


                            {% if row.dia != 'Dia ' %}
                    <tr class="row2">
                                <td></td>
                                <td></td>
                                <td>{{ row.dia }}</td>
                                <td></td>
                                <td>{%if row.debe%} {{ row.debe }}{%endif%}</td>
                                <td>{%if row.haber%} {{ row.haber }}{%endif%}</td>
                                <td>{%if row.saldo_mes%} {{ row.saldo_mes }}{%endif%}</td>
                                <td>{%if row.acumulado%} {{ row.acumulado }}{%endif%}</td>
                    </tr>
                            {%else%}
                    <tr class="row1">
                                <td>{{ row.codigo_cuenta }}</td>
                                <td>{{ row.nombre }}</td>
                                <td></td>
                                <td>{{ row.saldo_anterior }}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                    </tr>
                            {%endif%}
                
                    <tr class="row1" >
                        <td colspan="3" style="text-align: right"><b>Totales</b></td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>

    </div>
{% endblock %}
