{% extends 'reportes/base_report.html' %}
{% load porcentaje %}
{% block header %}
<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>

<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/media/js/RelatedObjectLookups.js"></script>
<script type="text/javascript">
function get_name(input,tipo){
  var id=input.parentNode.getElementsByTagName('input')[0];
  var name=input.parentNode.getElementsByTagName('input')[2];
  var code=input.parentNode.getElementsByTagName('input')[1];
  code.value = '';
  name.value = '';

  if (tipo=="id"){
    var url='/api/cuenta/?format=json&id=' + id.value ;
  } else {
    var url='/api/cuenta/?format=json&code=' + code.value ;
  }

  $.getJSON(url,function(data){
    if ( data['meta']['total_count'] >= 0){
      if (tipo == "id"){
        code.value = data['objects'][0]['code'];
      } else {
        id.value = data['objects'][0]['id'];
      }
      name.value = data['objects'][0]['name'];
    }else{
      name.value = 'No disponible';
    }
  });
}
</script>
{% endblock %}

{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  Reporte  ( {{data.count}} resultados ) </caption>
                <thead>
                  <tr>
                      <th>Cuenta</th>
                      <th>Cuenta Contable</th>
                      <th>Saldo Anterior</th>
                      <th>Debe</th>
                      <th>Haber</th>
                      <th>Mov. del mes</th>
                      <th>Saldo a la Fecha</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                    
                        <tr class="{% cycle 'row1' 'row2' %}" {% if row.level == 0 %} style = "font-weight:bold;" {%endif%}>
	                        <td>{{ row.codigo_cuenta }}</td>
	                        <td>{{ row.nombre }}</td>
	                        <td>{{ row.saldo_anterior|decimal_format }}</td>
	                        <td>{{ row.debe|decimal_format }}</td>
	                        <td>{{ row.haber|decimal_format }}</td>
                            <td>{{ row.saldo|decimal_format }}</td>
	                        <td>{{ row.saldo_mes|decimal_format }}</td>
	                        
                        </tr>                   
                    
                {% endfor %}

                </tbody>
                
            </table>

    </div>
{% endblock %}
