{% extends 'reportes/base_report.html' %}
{% load porcentaje %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  Estado de Situacion Financiera   </caption>
                <thead>
                  <tr>
                      <th></th>
                      <th colspan="3" align="center">{{ mes1 }}  </th>
                      <th colspan="3" align="center">{{ mes2 }}  </th>
                  </tr>
                  <tr>
                      <th>Concepto</th>
                      <th>Parcial</th>
                      <th>Rubro</th>
                      <th>%</th>
                      <th>Parcial</th>
                      <th>Rubro</th>
                      <th>%</th>
                 </tr>
                </thead>
                <tbody>
                {%regroup data  by clasificacion as lst_class%}
                {%for c in lst_class%}                
                        <tr class='row1'>                        
                            <td colspan = 8 style ="font-weight:bold;">{{ c.grouper }}</td>
                        </tr>
                        
                        {%regroup c.list  by tipo as lst_tipo%}
                        {%for tipo in lst_tipo%}    
                        {% if tipo%}    
                        <tr class="row2">
                            <td colspan = 8 style ="font-weight:bold;">{{ tipo.grouper }}</td>
                        </tr>
                        
                        {%regroup tipo.list  by categoria as lst_categoria%}
                        {%for cat in lst_categoria%}
                        {%if cat.grouper%}        
                        <tr class="row2" style ="font-weight:bold;">
                            <td >{{ cat.grouper }}</td>
                                
                                <td></td>
                                <td>{{ cat.list|total_sum:'mes1'|decimal_format }}</td>
                                <td>{{ cat.list|total_sum:'mes1'|percentage:gran_total.mes1 }}</td>
                                <td></td>
                                <td>{{ cat.list|total_sum:'mes2'|decimal_format }}</td>                                
                                <td>{{ cat.list|total_sum:'mes2'|percentage:gran_total.mes2 }}</td>                            
                        </tr>
                        {%endif%}
                        {%for row in cat.list%}
                            <tr class="row2">                     
                                
    	                        <td>{{ row.concepto }}</td>
    	                        <td>{{ row.mes1|decimal_format }}</td>
    	                        <td>{{ row.porcentaje_mes1 }}</td>
                                <td>{{  row.mes1|percentage:gran_total.mes1 }}</td>
    	                        
    	                        <td>{{ row.mes2|decimal_format }}</td>
    	                        <td>{{ row.rubro2 }}</td>
    	                        <td>{{  row.mes2|percentage:gran_total.mes2 }}</td>
    	                        
    	                        
                            </tr>
                        {% endfor %}
                            
                        </tr>
                        {% endfor %}
                        <tr class='row2'  style ="font-weight:bold;">                        
                            <td >TOTAL {{ tipo.grouper }}</td>
                                
                                <td></td>
                                <td>{{ tipo.list|total_sum:'mes1'|decimal_format }}</td>
                                <td>{{ tipo.list|total_sum:'mes1'|percentage:gran_total.mes1 }}</td>
                                <td></td>
                                <td>{{ tipo.list|total_sum:'mes2'|decimal_format }}</td>                                
                                <td>{{ tipo.list|total_sum:'mes2'|percentage:gran_total.mes2 }}</td>                            
                        </tr>
                        {%endif%}                        
                        {% endfor %}
                        <tr class='row1'  style ="font-weight:bold;">                        
                            <td >TOTAL {{ c.grouper }}</td>
                                
                                <td></td>
                                <td>{{ c.list|total_sum:'mes1'|decimal_format }}</td>
                                <td>{{ c.list|total_sum:'mes1'|percentage:gran_total.mes1 }}</td>
                                <td></td>
                                <td>{{ c.list|total_sum:'mes2'|decimal_format }}</td>                                
                                <td>{{ c.list|total_sum:'mes2'|percentage:gran_total.mes2 }}</td>                            
                        </tr>                                        
                        <tr class="row2">
                        <td colspan = 8 >--------------------------</td>
                        </tr>
                {% endfor %}
                        <tr class='row1' style ="font-weight:bold;">                        
                            <td  >TOTAL PASIVO + CAPITAL</td>
                                <td></td>
                                <td>{{ gran_total.mes1|decimal_format }}</td>
                                <td>{{ gran_total.mes1|percentage:gran_total.mes1 }}</td>
                                <td></td>
                                <td>{{ gran_total.mes2|decimal_format }}</td>                                
                                <td>{{ gran_total.mes2|percentage:gran_total.mes2 }}</td>                               
                        </tr>
                </tbody>

            </table>

    </div>
{% endblock %}
