.form-row {
    border-bottom: 1px solid #EEEEEE;
    font-size: 11px;
    overflow: hidden;
    padding: 8px 12px;
    width:31%;
    display:inline-block;
}

.cliente, .tipo_cambio, .forma_pago{
    width:100%;
}

.numero, .fecha, .concepto, .moneda, .ir, .alcaldia, .monto{
	width:25%;
	height: 40px !important;
}

.facturas, .notas {
	height:250px;
	display: block;
}

.items_facturas, .items_notas
{
	display:block !important; 
	position:relative !important; 
	top:-580px;
	left:50px;
	width:40% !important;
	height:200px !important;	
	z-index:0 !important;
}

.items_notas {
	top: -510px;
}

ul.ui-multiselect-checkboxes{
	height:150px !important;		
}


