label{
	font-weight:bold;	
}
.form-row {
    border-bottom: 1px solid #EEEEEE;
    font-size: 11px;
    overflow: hidden;
    padding: 8px 12px;
    width:31%;
    display:inline-block;
}
.cliente, .casillero{
    width:100%;
}
.credito{
	width:15%;
}
.descuento{
	width:15%;
}
.numero{
	width:15%;
}
.fecha, .vencimiento{
	width:22%;
}
.fecha label{
	width:110px;
	
}

.items{
	height:260px;
    width:98% !important  ;	
	}

.items label,.items button{
    width:180px !important  ;
    display:inline;
}

.ui-widget-content
{
	display:block !important; 
	position:relative !important; 
	top:-350px;
	left:30px;
	width:95% !important;
	height:200px !important;	
	z-index:0 !important;
}
ul.ui-multiselect-checkboxes{
	height:150px !important;		
}

button.ui-multiselect{
	
	display:none !important;
}

.tarjeta, .total, .iva, .subtotal{
    width:150px;
}
