label{
	font-weight:bold;
	padding-right:0px !important;	
}
.form-row {
    border: none;
    font-size: 11px;
    overflow: hidden;
    padding: 0px 12px;
    vertical-align:middle;
    width:31%;
    display:inline-block;
}
.cliente{
    width:90%;
    
}
.cliente div p, .cliente div label{
    font-weight:bold;
    font-size:20px;
    
}
.periodo label{
	width:130px;
	}
.periodo{
	width:280px;
}
.credito,.excento{
	width:100px;
}
.credito div p,.excento div p{
	padding-left:20px;
}

.numero{
	width:120px;
}
.numero label{
	width:60px;
}
.numero p{	padding-left:0px !important;}

.fecha{
	width:220px;
}
.vencimiento{
	width:220px;
}
.vencimiento div p{
	padding-left:20px;
}

.fecha label{
	width:60px;
	
}

.transaccion{
	height:300px;
    width:98% !important  ;	
	}

.transaccion label,.transaccion button{
    width:180px !important  ;
    display:inline;
}

.ui-widget-content
{
	display:block !important; 
	position:absolute !important; 
	top:282px; 
	left:30px;
	width:95% !important;
	height:250px !important;	
}
ul.ui-multiselect-checkboxes{
	height:200px !important;		
}

td, th{
	
	font-size:15px !important;
	padding:5px !important;
	
}
td.total{
	font-weight: bold;
	text-align:right;			
}

table{
	width:100%;
	border:1px solid #EEEEEE;
}

.number{
	text-align:right;
}