.form-row {
    border-bottom: 1px solid #EEEEEE;
    font-size: 11px;
    overflow: hidden;
    padding: 8px 12px;
    width:31%;
    display:inline-block;
}
.cliente{
    width:80%;
}
.credito{
	width:15%;
}
.excento{
	width:15%;
}
.numero{
	width:15%;
}
.fecha, .vencimiento{
	width:30%;
}
.transaccion{
    width:100%;
}