label{
	font-weight:bold;	
}
.form-row {
    border-bottom: 1px solid #EEEEEE;
    font-size: 11px;
    overflow: hidden;
    padding: 8px 12px;
    width:31%;
    display:inline-block;
}
.cliente,.observaciones{
    width:98%;
}
#id_observaciones{
	width:95%;
	height:60px;
}
.monto,.alcaldia,.ir,.retencion_banco,.total_depositado{
	width:150px;
}
.comision_bancaria{
	width:180px;
}
.comision_bancaria label{
	width:110px;
}
.comision_bancaria p{
	padding-left:10px !important;
}
.numero{
	width:15%;
}
.fecha, .moneda{
	width:22%;
}
.fecha label{
	width:110px;
	
}

.facturas{
	height:200px;
    width:98% !important  ;	
    padding-top:0 !important;
	}

.facturas label,.facturas button{
    width:180px !important  ;
    display:inline;
}

.ui-widget-content
{
	display:block !important; 
	position:relative !important; 
	top:-440px;
	left:30px;
	width:95% !important;
	height:150px !important;	
	z-index:0 !important;
}
.ui-widget-content{
	height:130px !important;
}
ul.ui-multiselect-checkboxes{
	height:90px !important;		
}

button.ui-multiselect{
	
	display:none !important;
}