.ui-widget-content
{
	display:block !important; 
	position:absolute !important; 
	top:420px;
	left:30px;
	width:95% !important;
	height:210px !important;	
	z-index:0 !important;
}
ul.ui-multiselect-checkboxes{
	height:180px !important;		
}

button.ui-multiselect{	
	display:none !important;
}

 .items{
	height:260px;
    width:98% !important;	
}
label{
	font-weight:bold;	
}
