{% extends "admin/change_form.html" %}
{% load i18n %}

{% block blockbots %}
<style type="text/css">
    .items, .servicio {
        display: none;
    }
</style>
{% endblock %}
    {% block object-tools-items %}
        {{ block.super }}
        <li><a href="{% url facturacion:imprimirrequerimiento %}?send={{ original.pk }}">Imprimir Requerimiento</a></li>
    {% endblock %}
{% block after_field_sets %}
<table style="width:100%">
<thead>
	<th width=60% >Cartas</th>
    <th></th>
	<th width=10%>Total</th>
</thead>
<tbody>
{%for line in object.items%}
	<tr >
		<td>{{line.descripcion}}</td>
		<td></td>
        <td class="number">{{line.total}}</td>
	</tr>
{%endfor%}

	<tr>
    <td></td>
	<td class="total">Total</td>
	<td class="number">{{object.subtotal}}</td>
	</tr>
	<tr>
    <td></td>
	<td class="total">IVA</td>
	<td class="number">{{object.moneda.simbolo}} {{object.iva}}</td>
	</tr>
	<tr>
    <td></td>
	<td class="total">Total Recibido</td>
	<td class="number">{{object.moneda.simbolo}} {{object.total}}</td>

	</tr>
</tbody>
</table>
</div>
{% endblock %}
