{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="PDF" name="pdf">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
        {% for panel in servicios %}
            <table>
                <caption> {{ panel.nombre }}  </caption>
                <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Tipo</th>
                      <th>Monto</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                    {% if row.tipo == panel %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td>{{ row.nombre }}</td>
                            <td>{{ row.tipo }}</td>
                            <td>{{ row.monto }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>

            </table>
        {% endfor %}
    </div>
{% endblock %}
