{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  Casa de Cambio   </caption>
                <thead>
                  <tr>
                      <th>Fecha</th>
                      <th>Compra</th>
                      <th>Venta</th>
                      <th>Base</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                    {% if row.tipo == panel %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td>{{ row.fecha }}</td>
                            <td>{{ row.compra }}</td>
                            <td>{{ row.venta }}</td>
                            <td>{{ row.base }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>

            </table>

    </div>
{% endblock %}
