{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Cajas Postales   </caption>
                <thead>
                  <tr>
                      <th>Cliente</th>
                      <th>Codigo Nicabox</th>
                      <th>Peso Maximo</th>
                      <th>Password</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.cliente }}</td>
                        <td><a href='/admin/postal/casillero/{{ row.id }}'>{{ row.codigonicabox }}</a></td>
                        <td>{{ row.pesomax }}</td>
                        <td>{{ row.password }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
