{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    {% block pdf %}{% endblock %}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Paquetes   </caption>
                <thead>
                  <tr>
                      <th>Referencia</th>
                      <th>Cliente</th>
                      <th>Peso en Libras</th>
                      <th>Peso en Kilos</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/paquete/{{ row.id }}'>{{ row.numref }}</a></td>
                        <td>{{ row.cliente }}</td>
                        <td>{{ row.pesolb }}</td>
                        <td>{{ row.pesokg }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
