{% extends 'reportes/base_report.html' %}
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chosen.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
<script type="text/javascript">
$(function(){
    $("select").chosen({allow_single_deselect:true});
})
</script>
<style type="text/css">
    .form-row{ overflow: visible; }
</style>
{% endblock %}
{% block submit_row %}
{{ block.super }}
    <p class="deletelink-box">
    <a href="{% url postal:cambioestado-report %}" class="addlink">Nuevo</a>
    </p>
    {% block pdf %}{% endblock %}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Paquetes Modificados  </caption>
                <thead>
                  <tr>
                      <th>Guia</th>
                      <th>Fecha</th>
                      <th>Estado</th>
                      <th>Comentarios</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/movimiento/{{ row.id }}'>{{ row.paquete }}</a></td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.estado }}</td>
                        <td>{{ row.comentarios }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
