{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Cartas   </caption>
                <thead>
                  <tr>
                      <th>Referencia</th>
                      <th>Fecha</th>
                      <th>Tipo Servicio</th>
                      <th>Destino</th>
                      <th>Peso</th>
                      <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/carta/{{ row.id }}'>{{ row.id }}</a></td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.formaenvio }}</td>
                        <td>{{ row.destino }}</td>
                        <td>{{ row.peso }}</td>
                        <td>{{ row.total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfooter>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total Cartas: {{ data.count}} </th>
                    <th></th>
                    <th>Valor a cobrar sin IGV: {{ total.valor__sum }}</th>
                </tfooter>
            </table>
    </div>
{% endblock %}
