{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    {% block pdf %}{% endblock %}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Casilleros a Exportar  </caption>
                <thead>
                  <tr>
                      <th>Alias</th>
                      <th>Nombre</th>
                      <th>Empresa</th>
                      <th>Direccion</th>
                      <th>Nombre Ciudad</th>
                      <th>Estado</th>
                      <th>Codigo Postal</th>
                      <th>Email</th>
                      <th>Telefono</th>
                      <th>Fax</th>
                      <th>Clave de Acceso</th>
                      <th>D(op)</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.alias }}</td>
                        <td>{{ row.nombre }}</td>
                        <td>{{ row.empresa }}</td>
                        <td>{{ row.direccion }}</td>
                        <td>{{ row.ciudad }}</td>
                        <td>{{ row.estado }}</td>
                        <td>{{ row.postal }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.telefono }}</td>
                        <td>{{ row.fax }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
