{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Programaci&oacute;n Cobros   </caption>
                <thead>
                  <tr>
                      <th>Mes</th>
                      <th>Servicio Domicilio</th>
                      <th>Cuota</th>
                      <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                {% for mes in meses  %} 
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ mes  }}</td>
                            {% if forloop.counter in range %}
                                <td>{{ domicilio  }}</td>
                                <td>{{ cuota }}</td>
                                <td>{{ total }}</td>
                            {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
