{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Courier   </caption>
                <thead>
                  <tr>
                      <th>Guia</th>
                      <th>Shipper</th>
                      <th>Consignee</th>
                      <th>Piezas</th>
                      <th>Peso</th>
                      <th>Valor Declarado</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a target="_blank" href='/admin/postal/courier/{{ row.id }}'>{{ row.numref }}</a></td>
                        <td>{{ row.ciar }}<br />{{ row.nombrer }}<br />{{ row.direccionr }}<br />{{ row.telefonor }}</td>
                        <td>{{ row.ciad }}<br />{{ row.nombred }}<br />{{ row.direcciond }}<br />{{ row.telefonod }}</td>
                        <td>{{ row.piezas }}</td>
                        <td>{{ row.peso }}</td>
                        <td>{{ row.declarado}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfooter>
                    <th></th>
                    <th></th>
                    <th>Total: </th>
                    <th>{{ piezas.piezas__sum }}</th>
                    <th>{{ pesos.peso__sum }}</th>
                    <th></th>
                </tfooter>
            </table>
    </div>
{% endblock %}
