{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Control de Envios   </caption>
                <thead>
                  <tr>
                      <th>Nicabox</th>
                      <th>Fecha</th>
                      <th>Responsable</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.casillero }}</td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.responsable }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
