{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Solicitud de Examen Previo   </caption>
                <thead>
                  <tr>
                      <th>Guia</th>
                      <th>Cliente</th>
                      <th>Nicabox</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/paquete/{{ row.paquete.id }}'>{{ row.paquete.numref }}</a></td>
                        <td>{{ row.paquete.casillero.cliente }}</td>
                        <td>{{ row.paquete.casillero }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
