{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    {% block pdf %}{% endblock %}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Casillero Exonerado   </caption>
                <thead>
                  <tr>
                      <th>Nicabox</th>
                      <th>Correlativo</th>
                      <th>Fecha</th>
                      <th>Fecha Fin</th>
                      <th>Cargo</th>
                      <th>Monto Utilizado</th>
                      <th>Saldo</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/casillero/{{ row.casillero_id }}'>{{ row.casillero }}</a></td>
                        <td>{% for p in row.persona %}{{ p.nombre }}, {% endfor %}</td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.fechafin }}</td>
                        <td>{{ row.cargo }}</td>
                        <td>{% for abono in data2 %}{% if row == abono.exoneracion %}{{ abono.fecha}} - {{ abono.abono }}<br />{% endif %}{% endfor %}</td>
                        <td>{{ row.saldo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
