{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>Reporte de inconsistencias</caption>
                <thead>
                  <tr>
                      <th>Bolsa</th>
                      <th>Guia</th>
                      <th>Piezas</th>
                      <th>Destinatario</th>
                  </tr>
                </thead>
                <tfooter>
                  <th></th>
                  <th>Total: {{ data.count}}</th>
                  <th></th>
                  <th></th>
                </tfooter>
                <tbody>
                {% for paquete in data %}
                  <tr class="{% cycle 'row1' 'row2' %}">
                  <td>{{ paquete.bolsa }}</td>
                  <td><a href='/admin/postal/paquete/{{ paquete.id }}'>{{ paquete.numref }}</a></td>
                  <td>{{ paquete.piezas }}</td>
                  <td>{{ paquete.destinatario}}</td>
                  </tr>
                {% endfor %}
                </tbody>

            </table>
    </div>
{% endblock %}
