{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  ADVANCED INTANGIBLE MANIFEST   </caption>
                <thead>
                  <tr>
                      <th>Airbill</th>
                      <th>Shipper</th>
                      <th>Consignee</th>
                      <th>Piezas</th>
                      <th>Peso</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/carta/{{ row.id }}'>{{ row.numreg }}</a></td>
                        <td>{% if row.cliente %}<a href="/admin/crm/cliente/{{ row.cliente.id }}">{{ row.cliente.nombrecompleto }}</a><br />{{ row.cliente.}}{% else %}
                            {{ row.remitente }}<br />{{ row.direccionr }}{% endif %}</td>
                        <td>{{ row.destinatario }}<br />{{ row.direcciond }}</td>
                        <td>{{ row.piezas }}</td>
                        <td>{{ row.peso }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfooter>
                    <th></th>
                    <th></th>
                    <th>Total: </th>
                    <th>{{ piezas.piezas__sum }}</th>
                    <th>{{ pesos.peso__sum }}</th>
                    <th></th>
                </tfooter>
            </table>
    </div>
{% endblock %}
