{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Manifiesto de Contenido de Bolsas   </caption>
                <thead>
                  <tr>
                      <th>Bolsa</th>
                      <th>No. de Rerefencia</th>
                      <th>Destinatario</th>
                      <th>Pzas</th>
                      <th>Peso Kilos</th>
                      <th>Casillero</th>
                      <th>Codigo de Barras</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.bolsa }}</td>
                        <td>{{ row.guiaingreso }}</td>
                        <td>{{ row.casillero.cliente }}</td>
                        <td>{{ row.piezas }}</td>
                        <td>{{ row.kilos }}</td>
                        <td>{{ row.casillero }}</td>
                        <td><a href='/admin/postal/paquete/{{ row.id }}'>{{ row.numref }}</a></td>
                    </tr>
                {% endfor %} 
                </tbody>
                <tfooter>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total: {{ data.count}} </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tfooter>
            </table>
    </div>
{% endblock %}
