{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Control de Peso   </caption>
                <thead>
                  <tr>
                      <th>Nicabox</th>
                      <th>Cliente</th>
                      <th>Direccion</th>
                      <th>Colector</th>
                      <th>Piezas</th>
                      <th>Peso</th>
                      <th>Encargado</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.casillero }}</td>
                        <td>{{ row.casillero.cliente }}</td>
                        <td>{{ row.casillero.cliente.direccion }}</td>
                        <td>{{ row.responsable }}</td>
                        <td>{{ row.piezas }}</td>
                        <td>{{ row.peso }}</td>
                        <td>{{ row.responsable }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
