{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Cobros Adicionales   </caption>
                <thead>
                  <tr>
                      <th>Casillero</th>
                      <th>Total Peso</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data  %} 
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.casillero  }}</td>
                        <td>{{ row.peso  }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
