{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    {% block pdf %}{% endblock %}
    <input type="submit" value="CSV" name="csv">
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Empleados   </caption>
                <thead>
                  <tr>
                      <th>Guia</th>
                      <th>Codigo Status</th>
                      <th>Status</th>
                      <th>Fecha</th>
                      <th>Comentario</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.paquete }}</td>
                        <td>{{ row.codigo }}</td>
                        <td>{{ row.estado }}</td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.comentarios }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
