{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Status   </caption>
                <thead>
                  <tr>
                      <th>Guia</th>
                      <th>Consignatario</th>
                      <th>Peso en Kilos</th>
                      <th>No. de Bultos</th>
                      <th>Descripcion</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/paquete/{{ row.paquete.id }}'>{{ row.paquete }}</a></td>
                        <td>{{ row.paquete.cliente }}</td>
                        <td>{{ row.paquete.pesokg }}</td>
                        <td>{{ row.paquete.piezas}}</td>
                        <td>{{ row.paquete.contenido }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
