{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Paquetes   </caption>
                <thead>
                  <tr>
                      <th>Guia</th>
                      <th>Fecha</th>
                      <th>Estado</th>
                      <th>Comentarios</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/paquete/{{ row.paquete.id }}'>{{ row.paquete }}</a></td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.estado }}</td>
                        <td>{{ row.comentarios }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
