{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Status   </caption>
                <thead>
                  <tr>
                      <th>Referencia</th>
                      <th>Fecha</th>
                      <th>Status</th>
                      <th>Peso</th>
                      <th>Usuario</th>
                      <th>Comentarios</th>
                  </tr>
                </thead>
                <tbody>
                {% for status in data %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/postal/paquete/{{ status.paquete.id }}'>{{ status.paquete.numref }}</a></td>
                        <td>{{ status.fecha }}</td>
                        <td>{{ status.estado }}</td>
                        <td>{{ status.paquete.volumetrico}}</td>
                        <td>{{ status.paquete.last_edited_by }}</td>
                        <td>{{ status.comentarios }}</td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
