{% extends 'admin/change_form.html' %}

{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="/media/js/RelatedObjectLookups.js"></script>
<script type="text/javascript">

function get_name(input,tipo){
	var id=input.parentNode.getElementsByTagName('input')[0];
	var name=input.parentNode.getElementsByTagName('input')[2];
	var code=input.parentNode.getElementsByTagName('input')[1];
	code.value = '';
	name.value = '';

	if (tipo=="id"){
		var url='/api/cliente/?format=json&id=' + id.value ;
	} else {
		var url='/api/cliente/?format=json&code=' + code.value ;
	}

	$.getJSON(url,function(data){
		if ( data['meta']['total_count'] >= 0){
			if (tipo == "id"){
				code.value = data['objects'][0]['code'];
			} else {
				id.value = data['objects'][0]['id'];
			}
			name.value = data['objects'][0]['name'];
		}else{
			name.value = 'No disponible';
		}
	});
}
</script>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<li><a href="{% url facturacion:imprimirabono %}?send={{ original.pk }}">Imprimir Abono</a></li>
{% endblock %}
