{% extends 'admin/change_form.html' %}

{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />
<link rel="stylesheet" type="text/css" href="/media/css/factura_form.css" />
<link rel="stylesheet" type="text/css" href="/media/multiselect/css/jquery.multiselect.css" />
<link rel="stylesheet" type="text/css" href="/media/multiselect/css/jquery.multiselect.filter.css" />
<link rel="stylesheet" type="text/css" href="/media/multiselect/css/style.css" />
<link rel="stylesheet" type="text/css" href="/media/multiselect/css/prettify.css" />

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>


<script type="text/javascript" src="/media/multiselect/js/prettify.js"></script>
<script type="text/javascript" src="/media/multiselect/js/jquery.multiselect.js"></script>
<script type="text/javascript" src="/media/multiselect/js/jquery.multiselect.filter.js"></script>
<script type="text/javascript">
$(function(){
	$("#id_items").multiselect().multiselectfilter();
});
function get_name(input,tipo){    
	var id=input.parentNode.getElementsByTagName('input')[0];
	var name=input.parentNode.getElementsByTagName('input')[2];
	var code=input.parentNode.getElementsByTagName('input')[1];
	code.value = '';
	name.value = '';
	
	if (tipo=="id"){
		var url='/api/cliente/?format=json&id=' + id.value ;
	} else {
		var url='/api/cliente/?format=json&code=' + code.value ;
	}
	
	$.getJSON(url,function(data){
		if ( data['meta']['total_count'] >= 0){
			if (tipo == "id"){
				code.value = data['objects'][0]['code'];
			} else {
				id.value = data['objects'][0]['id'];
			}
				
			name.value = data['objects'][0]['name'];
				
		}else{
			name.value = 'No disponible'; 
		}
		
		 var combo = document.getElementById("id_items");								
		 combo.options.length=0;
		 var courier = data['objects'][0]['courier'];
		 
		 for(var i=0; i< courier.length; i++) {
		   var option = document.createElement('option');
		   combo.options.add(option, 0);
		   combo.options[0].value = courier[i]['id'];
		   combo.options[0].text =  courier[i]['descripcion'];
		 }
		 combo.selectedIndex = -1
		 $("#id_items").multiselect('refresh');

 	 	document.getElementById("id_subtotal_widget").value= 0;
 	 	document.getElementById("id_iva_widget").value= 0;
 	 	document.getElementById("id_total_widget").value= 0;
								
	});   
}									 
function filtrar(){

	var url = '/api/cliente/?format=json&code=' + document.getElementById("code_cliente").value;			
	$.getJSON(url,function(data){

	var combo = document.getElementById("id_items"),subtotal=0;
					
	 $.getJSON(url,function(data){
		 combo.options.length=0;
		 var courier = data['objects'][0]['courier'];
		 
		 for(var i=0; i< courier.length; i++) {
		   var option = document.createElement('option');
		   combo.options.add(option, 0);
		   combo.options[0].value = courier[i]['id'];
		   combo.options[0].text =  courier[i]['descripcion'];
		   subtotal = subtotal + parseFloat(courier[i]['total']); 										  
		 }
		 combo.selectedIndex = -1
		 $("#id_items").multiselect('refresh');
		
	 
	  });	
	  });																																	   
};
</script>
<script type="text/javascript" src="/media/js/RelatedObjectLookups.js"></script>
{% endblock %}


{% block object-tools-items %}
{{ block.super }}
<li><a href="{% url facturacion:imprimirrequerimiento %}?send={{ original.pk }}">Imprimir Requerimiento</a></li>
{% endblock %}
