{% extends 'admin/change_list.html' %}
{% load i18n adminmedia %}
{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/RelatedObjectLookups.js"></script>

    {{ block.super }}
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css"/>
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/widgets.css"/>

    {% block header %}
    
    {% endblock %}
    <script type="text/javascript">
        window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
    </script>

    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url admin:index %}">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
{% block content %}
    <div id="content-main">
        {% block report_form %}
            <form action="." method="post" class="report">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <fieldset class="module aligned">
                    {% for field in form %}
                        <div class="form-row">
                            <div>
                                {{ field.errors }}
                                <label{% if field.field.required %} class="required"{% endif %} for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }}
                                {% if field.field.help_text %}
                                    <p class="help">{{ field.field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="submit-row">
                    {% block submit_row %}
                        <input type="submit" value="Aceptar" class="default" />
                        {% block pdf %}<input type="submit" value="PDF" name="pdf">{% endblock %}
                    {% endblock %}
                </div>
            </form>
        {% endblock %}
        {% if form.is_valid %}
            {% block report_body %}
                <div id="changelist" class="module">
                    <table>
                        <caption>Reporte</caption>
                        {% for row in data %}
                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for item in row.items %}
                                        <th>{{ item.0 }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for item in row.items %}
                                        <td>{{ item.1 }}</td>
                                    {% endfor %}
                                </tr>
                            {% else %}
                                <tr class="{% cycle 'row1' 'row2' %}">
                                    {% for item in row.items %}
                                        <td>{{ item.1 }}</td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% if forloop.last %}
                            </tbody>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
