{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}
    <script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/jquery.masonry.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/css/style.css"/>
    <script>
        $(function(){
            $('.masonry').masonry({
                itemSelector: '.masonrycol',
                isResizable: false,
                // set columnWidth a fraction of the container width
                columnWidth: 60
            });
        });
    </script>
{% endblock %}


{% block extrastyle %}
    {{ block.super }}
    <style>
        .dashboard #content{
           width: auto;
        }
        .masonrycol{
            float: left;
            width: 400px;
            margin: 5px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
{% endblock %}

{% block coltype %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="masonry">
    <div class= "masonrycol">
    {% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
    {% else %}
        <p>{% trans "You don't have permission to edit anything." %}</p>
    {% endif %}
    </div>

    {% if perms.reportes.reportes %}
    <div class="masonrycol">
        <div class="module">
            <h2>Transacciones</h2>
                <ul>
                        {% if perms.reportes.manifiestopaquete %}<li><a href="{% url postal:manifiestopaquete-report%}">Manifiesto Paquetes</a></li>{% endif %}
                        {% if perms.reportes.courier %}<li><a href="{% url postal:courier-report %}">Manifiesto Courier</a></li>{% endif %}
                        {% if perms.reportes.retencion %}<li><a href="{% url postal:manifiestocarta-report %}">Manifiesto Cartas Enviadas</a></li>{% endif %}
                        {% if perms.reportes.examen %}<li><a href="{% url postal:examenprevio-report%}">Carta Solicitud Examen Previo</a></li>{% endif %}
                        {% if perms.reportes.tramite %}<li><a href="{% url postal:tramitearticulo-report%}">Tramite Articulo 116 Aduana</a></li>{% endif %}
                        {% if perms.reportes.retencion %}<li><a href="{% url postal:desaduanaje-report %}">Retenci&oacute;n de aduana</a></li>{% endif %}
                        {% if perms.reportes.remisiones %}<li><a href="{% url postal:remisiones-report%}">Remisiones Aduana</a></li>{% endif %}
                        <br />
                        {% if perms.reportes.cambioestado %}<li><a href="{% url postal:cambioestado-report %}">Cambio estado a multiples paquetes</a></li>{% endif %}
                        {% if perms.reportes.cambioestado %}<li><a href="{% url postal:aduanapeso-report %}">Modificar Peso en Kg (solamente aduana)</a></li>{% endif %}
                </ul>
            <h2>Reportes</h2>
                <ul>
                        <h2>Crm</h2>
                        {% if perms.reportes.clientes %}<li><a href="{% url crm:clientes-report %}">Clientes</a></li>{% endif %}
                        {% if perms.reportes.clientes %}<li><a href="{% url crm:bloqueo-report %}">Cuentas Bloqueadas</a></li>{% endif %}

                        <br />
                        <h2>Postal</h2>
                        {% if perms.reportes.cajapostal %}<li><a href="{% url postal:cajas-report %}">Cajas Postales</a></li>{% endif %}
                        {% if perms.reportes.cajaanulada %}<li><a href="{% url postal:anuladas-report %}">Cajas Anuladas</a></li>{% endif %}
                        {% if perms.reportes.paquete %}<li><a href="{% url postal:paquetes-report %}">Paquetes</a></li>{% endif %}
                        {% if perms.reportes.cartaxcliente %}<li><a href="{% url postal:carta-report %}">Cartas por Cliente</a></li>{% endif %}
                        {% if perms.reportes.courier %}<li><a href="{% url postal:courier-list %}">Listado Courier</a></li>{% endif %}
                        {% if perms.reportes.status %}<li><a href="{% url postal:status-report %}">Reporte de Status</a></li>{% endif %}
                        {% if perms.reportes.status %}<li><a href="{% url postal:inconsistencia-report %}">Reporte de Inconsistencias</a></li>{% endif %}
                        {% if perms.reportes.cobros %}<li><a href="{% url postal:cobros-report %}">Cobros</a></li>{% endif %}
                        {% if perms.reportes.exoneraciones %}<li><a href="{% url postal:exoneraciones-report %}">Exoneraciones</a></li>{% endif %}
                        {% if perms.reportes.hojasc %}<li><a href="{% url hojac:hojas %}">Hojas C</a></li>{% endif %}
                        {% if perms.reportes.cobroadicional %}<li><a href="{% url postal:cobroadicional-report %}">Cobros Adicionales por Paquete</a></li>{% endif %}
                        {% if perms.reportes.pesosclientes %}<li><a href="{% url postal:pesosclientes-report %}">Total de Peso por cliente</a></li>{% endif %}
                        <br />
                        <h2>Nomina</h2>
                        {% if perms.reportes.empleados %}<li><a href="{% url nomina:empleados-report %}">Empleados</a></li>{% endif %}
                        {% if perms.reportes.horasextras %}<li><a href="{% url nomina:horas-report %}">Horas Extras</a></li>{% endif %}
                        {% if perms.reportes.planilla %}<li><a href="{% url nomina:planilla-report %}">Planilla</a></li>{% endif %}
                        {% if perms.reportes.ir %}<li><a href="{% url nomina:ir-report %}">IR</a></li>{% endif %}
                        {% if perms.reportes.inss %}<li><a href="{% url nomina:inss-report %}">INSS</a></li>{% endif %}
                        {% if perms.reportes.comisiones %}<li><a href="{% url nomina:comisiones %}">Comisiones</a></li>{% endif %}
                        {% if perms.reportes.recibo %}<li><a href="{% url nomina:recibo-report %}">Recibo</a></li>{% endif %}

                    <h2>Facturacion y Caja</h2>
                        {% if perms.reportes.reqautomaticos %}<li><a href="{% url facturacion:reqautomaticos %}">Generar Requerimientos </a></li>{% endif %}
                        {% if perms.reportes.documento %}<li><a href="{% url facturacion:documento %}">Imprimir Documento</a></li>{% endif %}
                        {% if perms.reportes.tipocambio %}<li><a href="{% url caja:tipocambio %}">Tipos de Cambio</a></li>{% endif %}
                     
                     <br/>
                     <h2>Contabilidad</h2>
                            {% if perms.reportes.auxiliarcuentas %}<li><a href="{% url contabilidad:auxiliarcuentas %}">Auxiliar de Cuentas Corrientes</a></li>{% endif %}
                            {% if perms.reportes.balancecomparativo %}<li><a href="{% url contabilidad:balancecomparativo %}">Balance Comparativo</a></li>{% endif %}
                            {% if perms.reportes.balancecomprobacion %}<li><a href="{% url contabilidad:balancecomprobacion %}" >Balance de Comprobacion</a></li>{% endif %}
                            {% if perms.reportes.cheque %}<li><a href="{% url contabilidad:cheque %}">Cheques</a></li>{% endif %}
                            {% if perms.reportes.cuentas %}<li><a href="{% url contabilidad:cuentas %}">Cuentas</a></li>{% endif %}	                       	               
	                        {% if perms.reportes.estadoresultado %}<li><a href="{% url contabilidad:estadoresultado %}" >Estado de Resultado</a></li>{% endif %}                                                        
	                        {% if perms.reportes.situacionfinanciera %}<li><a href="{% url contabilidad:situacionfinanciera %}" >Estado de Situacion Financiera</a></li>{% endif %}
                                                        {% if perms.reportes.librodiario %}<li><a href="{% url contabilidad:librodiario %}">Libro Diario</a></li>{% endif %}
                            

	                        {% if perms.reportes.mayorauxiliar %}<li><a href="{% url contabilidad:mayorauxiliar %}">Mayor Auxiliar</a></li>{% endif %}
                        </li>
                        {% if perms.reportes.reportes %}
                    <h2>Otros Reportes</h2>
                        <!--li><a href="">Resumen de Ventas</a></li-->
                        {% if perms.reportes.servicio %}<li><a href="{% url facturacion:servicios %}">Resumen de Ventas por Servicio</a></li>{% endif %}
                        {% endif %}
                </ul>
                    <h2>Exportar</h2>
                        <ul>
                            {% if perms.reportes.pod %}<li><a href="{% url postal:pod %}">Exportar POD</a></li>{% endif %}
                            {% if perms.reportes.casilleros %}<li><a href="{% url postal:casilleros %}">Exportar Casilleros</a></li>{% endif %}
                        </ul>

        </div>
    </div>        

    <div class="masonrycol">
        <div class="module">
            <h2>Ultima Hora</h2>
                <ul>
                    {% for noticia in noticias %}
                    <li><a href="/admin/reportes/noticiaread/{{ noticia.id }}">{{ noticia.texto }}</a></li>
                    {% endfor %}
                </ul>
        </div>
    </div>
    
    <div class="masonrycol">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
    </div>
    {% endif %}
</div>
{% endblock %}

