{% extends 'admin/change_list.html' %}
{% block object-tools-items %}
    <li><a href="{% url postal:control-airbill-report%}" target="_blank" class="historylink">Reporte Control Airbills</a></li>
{{ block.super }}
{% endblock %}