{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
    
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">

            <table>
                <caption>  {{ titulo }}  </caption>
                <thead>
                  <tr>
                      <th>Numero</th>
                      <th>Fecha</th>
                      <th>Cliente</th>
                      <th>Monto</th>
                      <th>Concepto</th>
                  </tr>
                </thead>
                <tbody>
                
                {% for row in data %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.numero }}</td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.cliente.nombre }}</td>
                        <td>{{ row.total }}</td>
                        <td>{{ row.concepto }}</td>
                        </tr>
                {% endfor %}

                </tbody>

            </table>

    </div>
{% endblock %}
