{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                  <tr>
                      <th>Codigo</th>
                      <th>Cliente</th>
                      <th>Fecha</th>
                      <th># Requerimiento</th>
                      <th>Descripcion</th>
                      <th>Total</th>
                  </tr>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.cliente.codigo }}</td>
                        <td>{{ row.cliente }}</td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.numero }}</td>
                        <td>{{ row.descripcion }}</td>
                        <td>{{ row.monto }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
