{% extends 'admin/change_form.html' %}

{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />
<link rel="stylesheet" type="text/css" href="/media/css/abono_form.css" />
<link rel="stylesheet" type="text/css" href="/media/multiselect/css/jquery.multiselect.css" />
<link rel="stylesheet" type="text/css" href="/media/multiselect/css/jquery.multiselect.filter.css" />
<link rel="stylesheet" type="text/css" href="/media/multiselect/css/style.css" />
<link rel="stylesheet" type="text/css" href="/media/multiselect/css/prettify.css" />

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<script type="text/javascript" src="/media/multiselect/js/prettify.js"></script>
<script type="text/javascript" src="/media/multiselect/js/jquery.multiselect.js"></script>
<script type="text/javascript" src="/media/multiselect/js/jquery.multiselect.filter.js"></script>

<script type="text/javascript" src="/media/js/RelatedObjectLookups.js"></script>
<script type="text/javascript">
$(function(){
    $("#id_facturas").multiselect({
    	'classes': 'items_facturas',
    });
    $("#id_notas").multiselect({
    	'classes': 'items_notas',
    });
});
function get_name(input,tipo){
	var id=input.parentNode.getElementsByTagName('input')[0];
	var name=input.parentNode.getElementsByTagName('input')[2];
	var code=input.parentNode.getElementsByTagName('input')[1];
	code.value = '';
	name.value = '';

	if (tipo=="id"){
		var url='/api/cliente/?format=json&id=' + id.value ;
	} else {
		var url='/api/cliente/?format=json&code=' + code.value ;
	}

	$.getJSON(url,function(data){
		if ( data['meta']['total_count'] >= 0){
			if (tipo == "id"){
				code.value = data['objects'][0]['code'];
			} else {
				id.value = data['objects'][0]['id'];
			}
			name.value = data['objects'][0]['name'];
		}else{
			name.value = 'No disponible';
		}
	});
}
function filtrar(){

    var url = '/api/cliente/?format=json&code=' + document.getElementById("code_cliente").value;
    $.getJSON(url,function(data){

    var facturas = document.getElementById("id_facturas");
    var notas = document.getElementById("id_notas");
                    
     $.getJSON(url,function(data){
         facturas.options.length=0;
         notas.options.length=0;
         
         var fac = data['objects'][0]['facturas'];
         var not = data['objects'][0]['notas'];
         
         for(var i=0; i< fac.length; i++) {
           var option = document.createElement('option');
           facturas.options.add(option, 0);
           facturas.options[0].value = fac[i]['numero'];
           facturas.options[0].text =  fac[i]['descripcion'];
         }
         facturas.selectedIndex = -1
         $("#id_facturas").multiselect('refresh');
         
         for(var i=0; i< not.length; i++) {
             var option = document.createElement('option');
             notas.options.add(option, 0);
             notas.options[0].value = not[i]['numero'];
             notas.options[0].text =  not[i]['descripcion'];
           }
           notas.selectedIndex = -1
           $("#id_notas").multiselect('refresh');
        
     
      });   
      });                                                                                                                                      
};
</script>
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
<li><a href="{% url facturacion:imprimirabono %}?send={{ original.pk }}">Imprimir Abono</a></li>
{% endblock %}
