{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Hojas C   </caption>
                <thead>
                  <tr>
                      <th>Numero</th>
                      <th>Fecha</th>
                      <th>Proveedor</th>
                      <th>Importador</th>
                      <th>Declarante</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='{% url hojac:hoja row.id %}'>{{ row.numero }}</a></td>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.proveedor }}</td>
                        <td>{{ row.importador }}</td>
                        <td>{{ row.declarante }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
