{% block content %}
<!-- Listado de Cajas Postales -->
{% if object_list %}
<h1>Hojas C</h1>
    <ul>
    {% for hoja in object_list %}
        <li>Numero: <a href="/hojac/{{ hoja.id }}">{{ hoja.numero }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
