<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>permission denied</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){
			window.scrollTo(0,1);
		}
	</script>
	
	<!-- CSS -->
	<link rel="stylesheet" href="/media/includes/base.css">
	<link rel="stylesheet" href="/media/includes/amazium.css">
	<link rel="stylesheet" href="/media/includes/layout.css">
	<link rel="stylesheet" href="/media/includes/404.css">
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}/favicon.ico">	
</head>
<body>

<div class="centered_div">
	<div class="row">
		<div class="column grid_5">
			<p class="Oops"></p>
			<p class="error-link">Error</p>
			<p>Lo sentimos... Favor informe a su administrador</p>
		</div>
	</div>
</div>

</body>
</html>
