<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="/media/css/style.css"/>

<title>TransExpress - {% block title %}{% endblock %}</title>
</head>
<body>
    {% block logo %}<a href="/admin/"><img src="{{ MEDIA_URL }}images/logo.png" alt="TransExpress" /></a>{% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>
