{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Cuentas Bloqueadas   </caption>
                <thead>
                  <tr>
                      <th>Cliente</th>
                      <th>Nicabox</th>
                      <th>Comentario</th>
                      <th>Bloqueado / Desbloqueado</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.cliente }}</td>
                        <td>{{ row.casillero }}</td>
                        <td>{{ row.comentario }}</td>
                        <td>{{ row.bloquear }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
