{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Clientes   </caption>
                <thead>
                  <tr>
                      <th>Nombre Completo</th>
                      <th>Activo</th>
                      <th>Zona</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td><a href='/admin/crm/cliente/{{ row.id }}'>{{ row.clientecompleto }}</a></td>
                        <td>{{ row.activo }}</td>
                        <td>{{ row.zona }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
