{% extends 'reportes/base_report.html' %}
{% block submit_row %}
    {{ block.super }}
{% endblock %}
{% block report_body %}
      <div id="changelist" class="module">
            <table>
                <caption>  Clientes   </caption>
                <thead>
                  <tr>
                      <th>Fecha Emision</th>
                      <th>Fecha Vencimiento</th>
                      <th>Tipo</th>
                      <th>No.</th>
                      <th>Descripcion</th>
                      <th>Cargo</th>
                      <th>Abono</th>
                      <th>Saldo</th>
                  </tr>
                </thead>
                <tbody>
                {% for row in data %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                        <td>{{ row.fechaemision }}</td>
                        <td>{{ row.fechavencimiento }}</td>
                        <td>{{ row.tipo }}</td>
                        <td>{{ row.numeroreferencia }}</td>
                        <td>{{ row.descripcion }}</td>
                        <td>{{ row.cargo }}</td>
                        <td>{{ row.abono }}</td>
                        <td>{{ row.saldop }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}
