{% extends 'admin/change_form.html' %}
{% block object-tools-items %}
{{ block.super }}
<li><a href="{% url crm:estadocuenta %}?id={{ original.pk }}">Ver Estado de Cuenta</a></li>
<li><a href="{% url crm:mailestadocuenta %}?id={{ original.pk }}">Enviar Estado de Cuenta por mail</a></li>
{% endblock %}
