{% extends 'admin/change_form.html' %}

{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="/media/js/RelatedObjectLookups.js"></script>
<script type="text/javascript">

function get_name(input,tipo){
    var id=input.parentNode.getElementsByTagName('input')[0];
    var name=input.parentNode.getElementsByTagName('input')[2];
    var code=input.parentNode.getElementsByTagName('input')[1];
    code.value = '';
    name.value = '';
    
    if (tipo=="id"){
        if ( input.name == 'casillero')
            var url='/api/casillero/?format=json&id=' + id.value
        else
            var url='/api/cliente/?format=json&id=' + id.value
    } else {
        if ( input.name == 'casillero')
            var url='/api/casillero/?format=json&code=' + code.value ;
        else
            var url='/api/cliente/?format=json&code=' + code.value ;
    }

    $.getJSON(url,function(data){
        if ( data['meta']['total_count'] >= 0){
            if (tipo == "id"){
                code.value = data['objects'][0]['code'];
            } else {
                id.value = data['objects'][0]['id'];
            }
            name.value = data['objects'][0]['name'];
        }else{
            name.value = 'No disponible';
        }
    });
}

function filtrar(){

    var url = '/api/cliente/?format=json&code=' + document.getElementById("code_cliente").value;
    $.getJSON(url,function(data){

    var combo = document.getElementById("id_items"),subtotal=0;
                    
     $.getJSON(url,function(data){
         combo.options.length=0;
         var req = data['objects'][0]['requerimientos'];
         
         for(var i=0; i< req.length; i++) {
           var option = document.createElement('option');
           combo.options.add(option, 0);
           combo.options[0].value = req[i]['numero'];
           combo.options[0].text =  req[i]['descripcion'];                                        
         }
         combo.selectedIndex = -1
         $("#id_items").multiselect('refresh');
        
     
      });   
      });                                                                                                                                      
};


</script>
{% endblock %}